
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

:root {
  --primary: #3392EA;
  --primary-dark: #1C6FC4;
  --primary-light: #68B8F7;
  --secondary: #EBEEF4;
  --secondary-dark: #D1D9E6;
  --secondary-light: #F5F7FA;
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color-scheme: light;
  color: #111;
  background-color: #FFF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}