@import "tailwindcss";

@theme {
  --color-primary: #3392EA;
  --color-primary-dark: #1C6FC4;
  --color-secondary: #EBEEF4;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  color-scheme: light;
  color: #111;
  background-color: #FFF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}